<%= render 'errors', object: @card %>
<h1>Создание новой карточки</h1>
<%= form_for @card do |f| %>
    <%= render "form", f: f %>
    <%= f.submit "Создать", class: "btn btn-sm btn-success" %> <%= link_to "Назад", :back, class: "btn btn-sm btn-primary" %>
<% end %>
