<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<section id="container">
  <%= render 'shared/header' %>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <section>
    <%= yield %>
  </section>

</section>
</body>
</html>